<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <h1>Characters in MongoDB Database</h1>
        <ul>
            <% charactersMongoDB.forEach( function(character){ %>
                <li>
                    <%=character.name%>
                </li>
                <% }) %>
        </ul>
        </body>

        </html>