<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <link rel="stylesheet" href="/css/styles.css">
        <p>Hello from EJS</p>
        <h1>
            <span class="word">Mr Zarate<span class="superscript">s</span> </span>
            <span class="word">Rocks!!!!!!</span>
        </h1>

        </body>

        </html>